include dbAssetstoreMixins

.panel.panel-default
  .panel-heading(
      data-toggle="collapse",
      data-parent="#g-assetstore-accordion",
      data-target="#g-create-dbas-tab")
    .panel-title
      a
        i.icon-database
        span Create new #[b Database] assetstore
  #g-create-dbas-tab.panel-collapse.collapse
    .panel-body
      p.
        This type of assetstore can read from a variety of databases.  Tables,
        collections, and mappings can be imported from existing databases into
        the Girder data hierarchy.
      form#g-new-dbas-form(role="form")
        .form-group
          label.control-label(for="g-new-dbas-name") Assetstore name
          input#g-new-dbas-name.input-sm.form-control(
              type="text",
              placeholder="Name")
        +g-dbas-uri
        p#g-new-dbas-error.g-validation-failed-message
        input.g-new-assetstore-submit.btn.btn-sm.btn-primary(
          type="submit", value="Create")
